.comment-container {
  background-color: rgba(189, 189, 189, 0.302);
  padding: 10px;
  border-radius: 20px;
  display: flex;
  gap: 10px;
}

.comment-body {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 95%;
}

.comment-author {
  font-weight: bold;
}

.comment-controls {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: flex-start;
}

.delete-comment {
  cursor: pointer;
  justify-self: end;
}

.comment-time {
  font-weight: 500;
  font-size: 0.9rem;
  color: rgb(124, 124, 124);
  margin-top: 5px;
}
